.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 70vh 28vh;
}

.flexbox-container {
  display: flex;
  justify-content: space-between;
}

#repl textarea {
  width: 40vw;
  padding: 10px;
  resize: none;
  max-height: 15vh;
}

textarea::-webkit-scrollbar {
  width: 0px;
}

#repl button {
  display: block;
}
